html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #efefef;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    /*padding: 30px;*/
    /*max-width: 100%;*/
}


.homebutton {
    position: relative !important;
    width: 0;
    height: 0;
}

#temp-home {
    background-color: rgba(90, 78, 78, 0.19);
    position: relative;
    top: 15px;
    left: 20px;
    width: 44px;
    height: 42px;
    text-align: center;
    z-index: 1003;
}

#temp-home:hover {
    background-color: rgba(212, 82, 52, 0.33);
    transition: background-color 0.3s ease;
}

#temp-home i {
    position: relative;
    top: 12px;
/*    left: 7px;*/
    color: #fff;
    font-size: 26px;
    line-height: 16px;
    text-align: center !important;
}



/* Responsive wrapper */
@media screen and (max-width: 1024px) {
    #temp-home {
        left: 20;
    }
}

/* Responsive wrapper */
@media screen and (max-width: 600px) {
    #temp-home {
        left: 20;
    }
}




.hero {
    margin: auto;
    margin-left: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(187, 184, 129, 1) 0%, rgba(189, 175, 107, 1) 50%, rgba(191, 143, 84, 1) 100%);
}

blockquote-temp {
}
/*
blockquote-temp p {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    font-style: italic;
    border-left: 5px solid #ebebeb;
}
*/

.bold-one {
    font-size: 25px;
    font-weight: 700;
    color: #6c6c6c;
}

.bold-text-italic-me {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.bold-text-italic {
    font-weight: bold;
    font-style: italic;
}

.text-seasons-highlight {
    color: #a75815;
    font-style: italic;
    font-size: 18px;
}

.text-speech {
    font-style: italic;
    font-size: 18px;
    color: #1f89b1;
}

.text-style-italic {
/*    font-family: 'Merriweather', serif;*/
    font-family: 'Raleway', sans-serif;
    font-style: italic;
/*    font-size: 18px;*/
    font-size: 18px;
    color: #2c4e86; 
}

.text-style-speech {
/*    font-family: 'Merriweather', serif;*/
/*    font-family: 'Libre Baskerville', serif;*/
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 22px;
    color: #000000; 
}

.main-title {
    margin-bottom: 5px;
    font-size: 42px;
    color: #fff;
}

.seasons-sub-heading {
    margin-top: 5px;
}


.section {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #F7F7FA;
}


.section-wrapper {
    max-width: 1050px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
/*
    display: flex;
    flex-wrap: wrap;
*/
    /*    justify-content: center;*/
}

.margin-adjust {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;
    
}

.section-wrapper.column {
    flex-direction: column;
}

.section.tint {
    background-color: #fff;
}

.section .intro-title {
    font-size: 32px;
    font-style: normal;    
    margin-bottom: 0;
    color: #ceab6a;
/*    padding-left: 10px;*/
}

.section-title-divider {
    height: 0.7px;
    background-color: #cccccc;
    width: 200px;
    margin-top: 16px;
    margin-bottom: 40px;
    display: flex;
}


.section.tint p {
/*    padding-left: 10px;*/
}


.section-wrapper .seasons-title {
    flex: 0 0 100%;
/*    padding-left: 10px;*/
    padding-bottom: 20px;
    font-size: 32px;
    font-style: normal;
    margin-bottom: 0;
    color: #4d4f52;
}


.columnx {
    padding: 0 10px;
    display: flex;
    width: 25%;
    margin-bottom: 20px;
}


.cardz {
    -webkit-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;

    -webkit-box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
    box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
}

.cardz:hover {
    box-shadow: 3px 3px 18px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    -webkit-box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
    box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.21), 1px 3px 8px rgba(39, 44, 49, 0.03);

}


.section-wrapper .main-content-test {
    padding: 16px;
}

.section-wrapper h1 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    color: #b3b1b9
}


/* Responsive wrapper */
@media screen and (max-width: 1024px) {
    .section-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Responsive wrapper */
@media screen and (max-width: 600px) {
    .section-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* Responsive columns */
@media screen and (max-width: 1024px) {
    .columnx {
        flex: 0 1 calc(50%);
        margin-bottom: 20px;
    }
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .columnx {
        flex: 0 1 calc(100%);
        margin-bottom: 20px;

    }
}

hr {
    border-top: 0.21px solid #cccccc;
    width: 200px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 40px;
}



.main-content .title-highlight-spring {
    color: #d4cd48;
}

.main-content .title-highlight-summer {
    color: #aebd6d;
}

.main-content .title-highlight-autumn {
    color: #ceab6a;
}

.main-content .title-highlight-winter {
    color: #49686f;
}

.main-content p::first-letter {
    color: #acacac;
    font-size: 20px;
}

.summary-text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #000000;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/*
#parentx {
    max-width: 1010px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 1024px) {
    #parentx {
        display: grid;
        margin-top: 40px;
        margin-left: 20px !important;
        margin-right: 20px !important;
        grid-template-columns: 1fr !important;
    }
}

@media only screen and (max-width: 600px) {
    #parentx {
        display: grid;
        margin-top: 40px;
        margin-left: 10px !important;
        margin-right: 10px !important;
        grid-template-columns: 1fr !important;
    }
}
*/

.section.sbuttons {
    padding: 0px 0px 100px 0px;
}


.sbuttons .section-wrapper {
    justify-content: center;
}

.flz {
    flex: 1 1 calc(22%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    padding: 0 10px !important;
    margin: 0 10px !important;
    margin-bottom: 20px !important;
    justify-content: center;
    text-decoration: none;
}

.flz:hover {
    background-color: rgb(95, 95, 95);
    color: white;
    transition: background-color 0.6s ease;
    /*    transition: color 0.3s ease;*/
}

.springz {
    /*    padding: 30px;*/
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #08092a;
    background-color: #d4cd48;
    text-align: center;
}

.summerz {
    /*    padding: 30px;*/
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #08092a;
    background-color: #aebd6d;
    text-align: center;
}

.autmnz {
    /*    padding: 30px;*/
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #08092a;
    background-color: #ceab6a;
    text-align: center;
}

.winterz {
    /*    padding: 30px;*/
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #08092a;
    background-color: #add6d9;
    text-align: center;
}

/* Responsive columns */
@media screen and (max-width: 1024px) {
    .flz {
        flex: 1 1 calc(46%);
    }
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .flz {
        flex: 1 1 calc(100%);
    }
}



.section.footer-section {
    padding-top: 60px;
    padding-bottom: 20px;
    color: #fff;
    background-color: #49686f;
}


.margin-adjust.footer{
    margin-left: -10px;
    margin-right: -10px;
}


.column-footer {
    padding: 0 10px;
    display: flex;
    width: 25%;
    margin-bottom: 20px;
    flex-direction: column;
}


.column-footer .footheading {
    font-style: normal;
}

.column-footer h2 {
    font-weight: 600;
    font-size: 22px;
}

.column-footer p {
    color: #e0e0e0;
}

.column-footer p a {
    color: #e0e0e0;
    text-decoration: none;
}

.column-footer p a:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: #ffffff;
}


/* Responsive columns */
@media screen and (max-width: 1024px) {
    .column-footer {
        flex: 0 1 calc(25%);
        margin-bottom: 20px;
    }
}


/* Responsive columns */
@media screen and (max-width: 768px) {
    .column-footer {
        flex: 0 1 calc(50%);
        margin-bottom: 20px;

    }
}



/* Responsive columns */
@media screen and (max-width: 600px) {
    .column-footer {
        flex: 0 1 calc(100%);
        margin-bottom: 20px;

    }
}


.section.footer-section2 {
    padding-top: 60px;
    padding-bottom: 20px;
    color: #fff;
    background-color: #49686f;
    text-decoration: none;
}


.section-wrapper.footerbase {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*    justify-content: center;*/
    align-items: center;
    text-decoration: none;
/*    border-top: 1px solid #bfbfbf3d;*/
    border-top: 1px solid rgba(190, 190, 190, 0.25);
    padding-top: 30px;
    padding-bottom: 5px;
    /*    max-width: 100%;*/
}

.section-wrapper.footerbase a {
    text-decoration: none;
}


.section .git-hub-button {
    font-size: 14px;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.section .git-hub-button:hover {
    background-color: #cbcbcb;
    transition: background-color 0.3s ease;
}



.git-hub-button .red-text {
    color: #ff5800;
}


.fab.fa-github-square {
    font-size: 20px;
    padding-left: 5px;
    color: #ff5800;
}

.copyright-year-date {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 14px;
}


#to-top {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 44px;
    height: 42px;
    text-align: center;
    z-index: 1003;
}

#to-top i {
    position: absolute;
    top: 12px;
    left: 14px;
    color: #fff;
    font-size: 26px;
    line-height: 16px;
}