html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #efefef;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    /*padding: 30px;*/
    /*max-width: 100%;*/
}


.navbar {
    top: 0;
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0;
    display: inline;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.navunit a {
    text-decoration: none;
}

.navunit a p:hover {
    /*    text-decoration: none;*/
    color: #df9d42;
}

.navunit p {
    color: black;
    font-size: 18px;
}

.navbar .section-wrapper {
    padding-bottom: 0;
}

.navcontainer {
    position: relative;
    width: 100%;
}

.navunit {
    display: inline-block;
    padding: 0 20px;
    float: right;
}

/* Responsive wrapper */
@media screen and (max-width: 768px) {
    .navunit {
        /*        visibility: collapse;*/
        display: none;
    }
}

.hamburger {
    display: block;
    position: relative;
    top: 20px;
    right: 20px;
    z-index: 1000;
    -webkit-user-select: none;
    user-select: none;
    float: right;
}


.hamburger input {
    display: block;
    width: 35px;
    height: 32px;
    position: absolute;
    top: -8px;
    right: -7px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 1002;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
    visibility: collapse;
    display: none;
}

/* Responsive wrapper */
@media screen and (max-width: 768px) {
    .hamburger input {
        display: block;
        visibility: visible;
    }
}



.hamburger span {
    display: block;
    /*
    top: 18px;
    right: 20px;
*/
    width: 28px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #808080;
    border-radius: 3px;
    z-index: 1000;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    visibility: collapse;
    display: none;
}

/* Responsive wrapper */
@media screen and (max-width: 768px) {
    .hamburger span {
        display: block;
        visibility: visible;
    }
}

.hamburger span:first-child {
    transform-origin: 0% 0%;
}

.hamburger span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.hamburger input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(1px, 3px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
.hamburger input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.hamburger input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0px, 0px);
}





.hamburger #menu {
    position: absolute;
    width: 300px;
    height: 100vh;
    margin: -50px 0 10px 60px;
    padding: 50px;
    padding-top: 70px;
    font-family: 'Raleway', sans-serif;
    background: #ffffff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(none, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    visibility: collapse;
    display: none;

}

/* Responsive wrapper */
@media screen and (max-width: 768px) {
    .hamburger #menu {

        display: block;
        visibility: visible;
    }

}


.hamburger a {
    text-decoration: none;
}

.hamburger li {

    color: black;
    padding: 10px 0;
    font-size: 22px;
}

.hamburger li:hover {
    color: #df9d42;
    /*    transition: color 0.2s;*/

}

.hamburger .git-hub-button {
    /*    display: flex;*/
    font-size: 14px;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.hamburger .fab.fa-github-square {
    font-size: 20px;
    padding-left: 5px;
    color: #ff5800;
}

.hamburger input:checked ~ #menu {
    /*    transform: none;*/
    transform: translate(-100%, 0);
}



/*
.section-wrapper.menubutton {
    
    flex-wrap: wrap;
    flex-direction: column;

    align-items: center;
    text-decoration: none;

    border-top: 1px solid rgba(190, 190, 190, 0.25);
    padding-top: 30px;
    padding-bottom: 5px;
}
*/

.section-wrapper.menusection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-top: 1px solid #bfbfbf3d;
    border-top: 1px solid rgba(190, 190, 190, 0.25);

    padding-bottom: 5px;

    margin-top: 20px !important;
    /*    margin: auto;*/
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.responsive-menu {
    position: relative;
    width: 300px;
    height: 100vh;
    /*
    margin: 0px 0 10px 60px;
    padding: 50px;
    padding-top: 70px;
*/
    font-family: 'Raleway', sans-serif;
    background: #ffffff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    /*
    transform-origin: 0% 0%;
    transform: translate(none, 0);
*/

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);

    /*
    visibility: collapse;
    display: none;
*/
}


.responsive-menu #menu-list {
    position: relative !important;
    margin: 0px 0 0px 0px;
    padding: 50px;
    padding-top: 40px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(190, 190, 190, 0.25);
    /*
    width: 300px;
    height: 100vh;
    margin: 0px 0 10px 60px;
    padding: 50px;
    padding-top: 70px;
    font-family: 'Raleway', sans-serif;
    background: #ffffff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    
    transform-origin: 0% 0%;
    transform: translate(none, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
*/
    /*
    visibility: collapse;
    display: none;
*/
}

.responsive-menu #menu-list a {
    text-decoration: none;
}

.responsive-menu li {
    color: black;
    padding: 10px 0;
    font-size: 22px;
    list-style-type: none;
}


.responsive-menu .section-wrapper {
    margin-top: 30px;
    padding-top: 30px;
    /*    border-top: 1px solid rgba(190, 190, 190, 0.25);*/
}

.responsive-menu .section-wrapper.resposive-menu .section-wrapper a {}

.responsive-menu .git-hub-button {
    font-size: 14px;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.responsive-menu .git-hub-button:hover {
    background-color: #dfdded;
    transition: background-color 0.3s ease;
}

.responsive-menu .red-text {}

.responsive-menu .fab {}









.homebutton {
    position: relative !important;
    width: 0;
    height: 0;
}

#temp-home {
    position: relative;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    z-index: 1003;
    background-color: rgba(149, 116, 27, 0.62);
    border: solid 1px #717171;
    /*    display: none;*/
    visibility: visible;
}

#temp-home:hover {
    background-color: rgba(136, 74, 29, 0.71);
    transition: background-color 0.3s ease;
}

#temp-home i {
    position: relative;
    top: 12px;
    /*    left: 7px;*/
    color: #fff;
    font-size: 26px;
    line-height: 16px;
    text-align: center !important;
}

/* Responsive wrapper */
@media screen and (max-width: 1024px) {
    #temp-home {
        left: 20;
    }
}

/* Responsive wrapper */
@media screen and (max-width: 600px) {
    #temp-home {
        left: 20;
        display: block;
        visibility: visible;
    }
}

.section.hero {
    padding-bottom: 60px;
    background: linear-gradient(90deg, rgba(187, 184, 129, 1) 0%, rgba(189, 175, 107, 1) 50%, rgba(191, 143, 84, 1) 100%);
}

.section-wrapper.hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    /*    padding-bottom: 60px;*/
}

.section .hero .main-title {
    margin-bottom: 5px;
    font-size: 42px;
    color: #fff;
}

/* Responsive  */
@media screen and (max-width: 600px) {
    .section .hero .main-title {
        font-size: 40px;
    }
}

.section .hero-sub-heading {
    margin-top: 5px;
}

/*
.hero {
    margin: auto;
    margin-left: 0;
    padding-top: 120px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(187, 184, 129, 1) 0%, rgba(189, 175, 107, 1) 50%, rgba(191, 143, 84, 1) 100%);
}
*/



/*
blockquote-temp p {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    font-style: italic;
    border-left: 5px solid #ebebeb;
}
*/

.bold-one {
    font-size: 25px;
    font-weight: 700;
    color: #6c6c6c;
}

.bold-text-italic-me {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.bold-text-italic {
    font-weight: bold;
    font-style: italic;
}

.text-seasons-highlight {
    color: #a75815;
    font-style: italic;
    font-size: 18px;
}

.text-speech {
    font-style: italic;
    font-size: 18px;
    color: #1f89b1;
}

.text-style-italic {
    /*    font-family: 'Merriweather', serif;*/
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    /*    font-size: 18px;*/
    font-size: 18px;
    color: #2c4e86;
}

.text-style-speech {
    /*    font-family: 'Merriweather', serif;*/
    /*    font-family: 'Libre Baskerville', serif;*/
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 22px;
    color: #000000;
}




.section {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #F7F7FA;
}

.section-wrapper {
    max-width: 1050px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    /*    padding-bottom: 30px;*/
    /*
    display: flex;
    flex-wrap: wrap;
*/
    /*    justify-content: center;*/
}

.margin-adjust {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;

}


.section.natures-clock {
    background-color: #fff;
    padding-bottom: 60px;
}

.section-wrapper.column {
    flex-direction: column;
}

.section .intro-title {
    font-size: 32px;
    font-style: normal;
    margin-bottom: 0;
    color: #ceab6a;
    /*    padding-left: 10px;*/
}

.section-title-divider {
    height: 0.7px;
    background-color: #cccccc;
    width: 200px;
    margin-top: 16px;
    margin-bottom: 40px;
    display: flex;
}


.section.natures-clock p {
    /*    padding-left: 10px;*/
}


.section.seasons {
    padding-bottom: 50px;
}

.section-wrapper .seasons-title {
    flex: 0 0 100%;
    /*    padding-left: 10px;*/
    padding-bottom: 20px;
    font-size: 32px;
    font-style: normal;
    margin-bottom: 0;
    color: #4d4f52;
}


.columnx {
    padding: 0 10px;
    display: flex;
    width: 25%;
    margin-bottom: 20px;
}


.cardz {
    -webkit-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;

    -webkit-box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
    box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
}

.cardz:hover {
    box-shadow: 3px 3px 18px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    -webkit-box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
    box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.21), 1px 3px 8px rgba(39, 44, 49, 0.03);

}


.section-wrapper .main-content-test {
    padding: 16px;
}

.section-wrapper h1 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    color: #b3b1b9
}


/* Responsive wrapper */
@media screen and (max-width: 1024px) {
    .section-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Responsive wrapper */
@media screen and (max-width: 600px) {
    .section-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* Responsive columns */
@media screen and (max-width: 1024px) {
    .columnx {
        flex: 0 1 calc(50%);
        margin-bottom: 20px;
    }
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .columnx {
        flex: 0 1 calc(100%);
        margin-bottom: 20px;

    }
}

hr {
    border-top: 0.21px solid #cccccc;
    width: 200px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 40px;
}



.main-content .title-highlight-spring {
    color: #d4cd48;
}

.main-content .title-highlight-summer {
    color: #aebd6d;
}

.main-content .title-highlight-autumn {
    color: #ceab6a;
}

.main-content .title-highlight-winter {
    color: #49686f;
}

.main-content p::first-letter {
    color: #acacac;
    font-size: 20px;
}

.summary-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    color: #4e4e4e;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/*
#parentx {
    max-width: 1010px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 1024px) {
    #parentx {
        display: grid;
        margin-top: 40px;
        margin-left: 20px !important;
        margin-right: 20px !important;
        grid-template-columns: 1fr !important;
    }
}

@media only screen and (max-width: 600px) {
    #parentx {
        display: grid;
        margin-top: 40px;
        margin-left: 10px !important;
        margin-right: 10px !important;
        grid-template-columns: 1fr !important;
    }
}
*/

.section.sbuttons {
    padding: 0px 0px 100px 0px;
}


.sbuttons .section-wrapper {
    justify-content: center;
}

.flz {
    flex: 1 1 calc(22%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    padding: 0 10px !important;
    margin: 0 10px !important;
    margin-bottom: 20px !important;
    justify-content: center;
    text-decoration: none;
}

.flz:hover {
    background-color: rgb(95, 95, 95);
    color: white;
    transition: background-color 0.6s ease;
    /*    transition: color 0.3s ease;*/
}

.springz {
    /*    padding: 30px;*/
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #08092a;
    background-color: #d4cd48;
    text-align: center;
}

.summerz {
    /*    padding: 30px;*/
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #08092a;
    background-color: #aebd6d;
    text-align: center;
}

.autmnz {
    /*    padding: 30px;*/
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #08092a;
    background-color: #ceab6a;
    text-align: center;
}

.winterz {
    /*    padding: 30px;*/
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #08092a;
    background-color: #add6d9;
    text-align: center;
}

/* Responsive columns */
@media screen and (max-width: 1024px) {
    .flz {
        flex: 1 1 calc(46%);
    }
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .flz {
        flex: 1 1 calc(100%);
    }
}



.section.footer-section {
    padding-top: 60px;
    padding-bottom: 20px;
    color: #fff;
    background-color: #49686f;
}


.margin-adjust.footer {
    margin-left: -10px;
    margin-right: -10px;
}


.column-footer {
    padding: 0 10px;
    display: flex;
    width: 25%;
    margin-bottom: 20px;
    flex-direction: column;
}


.column-footer .footheading {
    font-style: normal;
}

.column-footer h2 {
    font-weight: 600;
    font-size: 22px;
}

.column-footer p {
    color: #e0e0e0;
}

.column-footer p a {
    color: #e0e0e0;
    text-decoration: none;
}

.column-footer p a:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: #ffffff;
}


/* Responsive columns */
@media screen and (max-width: 1024px) {
    .column-footer {
        flex: 0 1 calc(25%);
        margin-bottom: 20px;
    }
}


/* Responsive columns */
@media screen and (max-width: 768px) {
    .column-footer {
        flex: 0 1 calc(50%);
        margin-bottom: 20px;

    }
}



/* Responsive columns */
@media screen and (max-width: 600px) {
    .column-footer {
        flex: 0 1 calc(100%);
        margin-bottom: 20px;

    }
}


.section.footer-section2 {
    padding-top: 60px;
    padding-bottom: 20px;
    color: #fff;
    background-color: #49686f;
    text-decoration: none;
}


.section-wrapper.footerbase {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*    justify-content: center;*/
    align-items: center;
    text-decoration: none;
    /*    border-top: 1px solid #bfbfbf3d;*/
    border-top: 1px solid rgba(190, 190, 190, 0.25);
    padding-top: 30px;
    padding-bottom: 5px;
    /*    max-width: 100%;*/
}

.section-wrapper.footerbase a {
    text-decoration: none;
}


.section .git-hub-button {
    font-size: 14px;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.section .git-hub-button:hover {
    background-color: #cbcbcb;
    transition: background-color 0.3s ease;
}



.git-hub-button .red-text {
    color: #ff5800;
}


.fab.fa-github-square {
    font-size: 20px;
    padding-left: 5px;
    color: #ff5800;
}

.copyright-year-date {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 14px;
}


#to-top {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 44px;
    height: 42px;
    text-align: center;
    z-index: 1003;
}

#to-top i {
    position: absolute;
    top: 12px;
    left: 14px;
    color: #fff;
    font-size: 26px;
    line-height: 16px;
}



.work-doodle {
    font-style: italic
}

.normal-text-italic {
    font-style: italic;
}
