html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /*    background-color: #efefef;*/
    background: linear-gradient(90deg, rgba(187, 184, 129, 1) 0%, rgba(189, 175, 107, 1) 50%, rgba(191, 143, 84, 1) 100%);
    margin: 0;
    -webkit-text-size-adjust: 100%;
    /*padding: 30px;*/
    /*max-width: 100%;*/
}

body p {
    line-height: 1.5;
}


.navbar {
    top: 0;
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 1000;
    /*    background-color: rgb(255, 255, 255);*/
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 0;
    display: inline;
    /*    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);*/

}



.navbar .section-wrapper {
    padding-bottom: 0;
}

.navcontainer {
    position: relative;
    width: 100%;
}

.navunit {
    display: inline-block;
    padding: 0 20px;
    float: right;
}

.navunit a {
    text-decoration: none;
}

.navunit a p:hover {
    /*    text-decoration: none;*/
    color: #ffffff;
}

.navunit p {
    color: #1a2527;
    font-size: 18px;
}

.menu-margin-adjust {
    margin-right: -10px;
}


.navunit .menu-rgt-padding {
    /*    margin-right: -10px !important;*/
}

/* Responsive wrapper */
@media screen and (max-width: 768px) {
    .navunit {
        /*        visibility: collapse;*/
        display: none;
    }
}

.hamburger {
    display: block;
    position: relative;
    top: 20px;
    right: 20px;
    z-index: 1000;
    -webkit-user-select: none;
    user-select: none;
    float: right;
}


.hamburger input {
    display: block;
    width: 35px;
    height: 32px;
    position: absolute;
    top: -8px;
    right: -7px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 1002;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
    visibility: collapse;
    display: none;
}

/* Responsive wrapper */
@media screen and (max-width: 768px) {
    .hamburger input {
        display: block;
        visibility: visible;
    }
}



.hamburger span {
    display: block;
    /*
    top: 18px;
    right: 20px;
*/
    width: 28px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #1a2527;
    border-radius: 3px;
    z-index: 1000;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    visibility: collapse;
    display: none;
}

/* Responsive wrapper */
@media screen and (max-width: 768px) {
    .hamburger span {
        display: block;
        visibility: visible;
    }
}

.hamburger span:first-child {
    transform-origin: 0% 0%;
}

.hamburger span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.hamburger input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(1px, 3px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
.hamburger input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.hamburger input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0px, 0px);
}

/* Responsive wrapper */
/*
@media screen and (max-width: 768px) {
    .hamburger input:checked ~ span {
        position: fixed.
    }
    
    hamburger input:checked ~ span:nth-last-child(3) {
    position: fixed.
}
    
    .hamburger input:checked ~ span:nth-last-child(2) {
    position: fixed;
}
    
}
*/



.hamburger .responsive-menu {
    position: fixed;
    width: 300px;
    height: 100vh;
    margin: -50px 0 10px 60px;
    /*    padding: 50px;*/
    /*    padding-top: 70px;*/
    font-family: 'Raleway', sans-serif;
    background: #ffffff;
    list-style-type: none !important;
    -webkit-font-smoothing: antialiased;



    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);


    visibility: collapse;
    display: none;

}




/* Responsive wrapper */
@media screen and (max-width: 768px) {
    .hamburger .responsive-menu {
        display: block;
        visibility: visible;
    }

}



.responsive-menu {}

.responsive-menu #menu-section {
    /*    position: relative !important;*/
    margin: 0px 0 0px 0px !important;
    padding: 50px;
    padding-top: 40px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(190, 190, 190, 0.25);
}

.responsive-menu #menu-section a {
    text-decoration: none;
}

.responsive-menu #menu-list {
    margin: 0;
    padding: 0
}

.responsive-menu #menu-list a {}

.responsive-menu li {
    color: black !important;
    padding: 10px 0 25px 0 !important;
    font-size: 20px !important;
    list-style-type: none;
}

.responsive-menu li:hover {
    color: #df9d42 !important;
}

.responsive-menu .menu-github-section {}

.responsive-menu .menu-github-section a {}

.responsive-menu .git-hub-button {}

.responsive-menu .git-hub-button:hover {
    background-color: #dfdded;
    transition: background-color 0.3s ease;
}

.responsive-menu .red-text {}

.responsive-menu .fab {}

.responsive-menu .fab .hamburger a {
    text-decoration: none;
}

.hamburger li {

    color: black;
    padding: 10px 0;
    font-size: 22px;
}

.hamburger li:hover {
    color: #df9d42;
    /*    transition: color 0.2s;*/

}

.hamburger .git-hub-button {
    /*    display: flex;*/
    font-size: 14px;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.hamburger .fab.fa-github-square {
    font-size: 20px;
    padding-left: 5px;
    color: #ff5800;
}

.hamburger input:checked ~ .responsive-menu {
    /*    transform: none;*/
    transform: translate(-100%, 0);
}



.menu-github-section {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px !important;
    padding-top: 30px;
    padding-bottom: 20px;
    text-decoration: none;
    border-top: 1px solid rgba(190, 190, 190, 0.25);

}


.navunit.home {
    /*    display: inline-block;*/
    padding: 0 10px;
    float: left;
}


/* Responsive wrapper */
@media screen and (max-width: 768px) {
    .navunit.home {
        /*        visibility: collapse;*/
        display: none;
    }
}

.navunit .site-home {
    display: inline-block;
}

.navunit h2 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    margin: 10px 0;
    margin-top: 15px;
    /*    padding: 0;*/
    /*    margin: 0;*/
    color: #1a2527;
    /*    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.26);*/
    letter-spacing: 4px;
}

.navunit a h2:hover {
    /*    text-decoration: none;*/
    /*    color: #df9d42;*/
}


.site-home {}

.navunit {}


.navunit .fas {
    font-size: 22px;
    padding: 5px;
    margin-right: 5px;
    /*
    padding-top: 5px;
    padding-right: 5px;
*/
    display: inline-block;
    color: rgb(216, 140, 18);
    /*    background-color: rgba(149, 116, 27, 0.62);*/
    background-color: #49686F;
    width: 35px;
    height: 35px;
    /*    border: solid 1px #717171;*/
    border: solid 1px rgba(175, 157, 110, 0.62);

}



a .navunit:hover {
    filter: brightness(1.4);
}




.homebutton {
    position: relative !important;
    width: 0;
    height: 0;
    visibility: collapse;
    display: none;
}

/* Responsive wrapper */
@media screen and (max-width: 768px) {
    .homebutton {
        display: block;
        visibility: visible;
    }
}



#temp-home {
    position: relative;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    z-index: 1003;
    background-color: rgba(149, 116, 27, 0.62);
    border: solid 1px #717171;
    /*    display: none;*/
    visibility: visible;
}

#temp-home:hover {
    background-color: rgba(136, 74, 29, 0.71);
    transition: background-color 0.3s ease;
}

#temp-home i {
    position: relative;
    top: 12px;
    /*    left: 7px;*/
    color: #fff;
    font-size: 26px;
    line-height: 16px;
    text-align: center !important;
}

/* Responsive wrapper */
@media screen and (max-width: 1024px) {
    #temp-home {
        left: 20;
    }
}

/* Responsive wrapper */
@media screen and (max-width: 600px) {
    #temp-home {
        left: 20;
        display: block;
        visibility: visible;
    }
}

.section.hero {
    height: 100vh;
    padding-bottom: 60px;
    background: linear-gradient(90deg, rgba(187, 184, 129, 1) 0%, rgba(189, 175, 107, 1) 50%, rgba(191, 143, 84, 1) 100%);
}

.section-wrapper.hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    /*    padding-bottom: 60px;*/
}




.main-title-block {
    /*    position: fixed;*/
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.main-title-block .main-title {}

.main-title-block .hero-sub-heading {}

.section .hero .main-title {
    margin-bottom: 5px;
    font-size: 42px;
    color: #fff;
}

/* Responsive  */
@media screen and (max-width: 600px) {
    .section .hero .main-title {
        font-size: 40px;
    }
}

.section .hero-sub-heading {
    margin-top: 5px;
    /*    color: #49686F;*/
}

/*
.hero {
    margin: auto;
    margin-left: 0;
    padding-top: 120px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(187, 184, 129, 1) 0%, rgba(189, 175, 107, 1) 50%, rgba(191, 143, 84, 1) 100%);
}
*/



/*
blockquote-temp p {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    font-style: italic;
    border-left: 5px solid #ebebeb;
}
*/

.bold-one {
    font-size: 25px;
    font-weight: 700;
    color: #6c6c6c;
}

.bold-text-italic-me {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.bold-text-italic {
    font-weight: bold;
    font-style: italic;
}

.text-seasons-highlight {
    color: #a75815;
    font-style: italic;
    font-size: 18px;
}

.text-speech {
    font-style: italic;
    font-size: 18px;
    color: #1f89b1;
}

.text-style-italic {
    /*    font-family: 'Merriweather', serif;*/
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    /*    font-size: 18px;*/
    font-size: 18px;
    color: #2c4e86;
}

.text-style-speech {
    /*    font-family: 'Merriweather', serif;*/
    /*    font-family: 'Libre Baskerville', serif;*/
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 22px;
    color: #000000;
}




.section {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #F7F7FA;
}

.section-wrapper {
    max-width: 1050px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    /*    padding-bottom: 30px;*/
    /*
    display: flex;
    flex-wrap: wrap;
*/
    /*    justify-content: center;*/
}

.margin-adjust {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;

}


.section.natures-clock {
    background-color: #fff;
    padding-bottom: 60px;
}

.section-wrapper.column {
    flex-direction: column;
}

.section .intro-title {
    font-size: 32px;
    font-style: normal;
    margin-bottom: 0;
    color: #ceab6a;
    /*    padding-left: 10px;*/
}

.section-title-divider {
    height: 0.7px;
    background-color: #cccccc;
    width: 200px;
    margin-top: 16px;
    margin-bottom: 40px;
    display: flex;
}


.section.natures-clock p {
    /*    line-height: 1.5;*/
    /*    padding-left: 10px;*/
}


.section.seasons {
    padding-bottom: 50px;
}

.section-wrapper .seasons-title {
    flex: 0 0 100%;
    /*    padding-left: 10px;*/
    padding-bottom: 20px;
    font-size: 32px;
    font-style: normal;
    margin-bottom: 0;
    color: #4d4f52;
}



.margin-adjust.contact-tp {
    margin-top: -70px;
}


.columnx {
    padding: 0 10px;
    display: flex;
    width: 25%;
    margin-bottom: 20px;
}

.columnx p {
    line-height: 1.4;
}






.columnx.contact-details {
    padding: 0 10px;
    display: flex;
    /*    width: 0.35;*/
    /*    flex: 1 33;*/
    flex: 0 1 calc(36%);
    margin-bottom: 20px;

    /*    z-index: 1000 !important;*/
}

.columnx.contact-details p {}

.main-content-block .postal-address {
    padding-bottom: 20px;
}

.main-content-block h1 {}




.columnx.contact-details-2 {
    padding: 0 10px;
    display: flex;
    /*    width: 66%;*/
    flex: 1 auto;
    margin-bottom: 20px;

    /*    z-index: 1000 !important;*/
}



.section-title-divider {
    height: 0.7px;
    background-color: #cccccc;
    width: 200px;
    margin-top: 16px;
    margin-bottom: 40px;
    display: flex;
}


.section-title-divider.contact {
    width: 100px;
}


.columnx.contact-details-email {
    padding: 0 0;
    display: flex;
    width: 100%;
    /*    flex: 1 100%;*/
    margin-bottom: 20px;

    /*    z-index: 1000 !important;*/
}

.columnx .cardz {
    background-color: white;
    width: 100%;
}

.columnx .cardz p a {
    color: black;
    background-color: white;
    text-decoration: none;
}

.columnx .top-image-test {}


/* Responsive columns */
@media screen and (max-width: 730px) {
    .columnx.contact-details {
        flex: 0 1 calc(100%);
        margin-bottom: 20px;

    }
}

/* Responsive columns */
@media screen and (max-width: 730px) {
    .columnx.contact-details-2 {
        flex: 0 1 calc(100%);
        margin-bottom: 20px;

    }
}





/* Responsive columns */
@media screen and (max-width: 600px) {
    .columnx.contact-details {
        flex: 0 1 calc(100%);
        margin-bottom: 20px;

    }
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .columnx.contact-details-2 {
        flex: 0 1 calc(100%);
        margin-bottom: 20px;

    }
}




.cardz.contact-card {
    /*    background-color: white;*/
}

.cardz.contact-card:hover {
    /*    background-color: white;*/
    -webkit-box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
    box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
}

.cardz.contact-card:hover {
    /*    background-color: white;*/
    -webkit-box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
    box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);

}



.contact-top .main-content-block p .fas {
    color: #49686F;
    padding-right: 10px;
}

.share-links {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.share {
    flex: 0 1 40px;

}

.share .fab {
    font-size: 16px;
    padding: 5px;
    padding-top: 8px;
    text-align: center;
    /*    margin-right: 5px;*/
    /*
    padding-top: 5px;
    padding-right: 5px;
*/
    display: inline-block;
    color: rgb(255, 255, 255);
    /*    background-color: rgba(149, 116, 27, 0.62);*/
    background-color: #49686F;
    width: 33px;
    height: 33px;
    /*    border: solid 1px #717171;*/
    border: solid 1px rgba(175, 157, 110, 0.62);
    border-radius: 4px;
}

.share .fab:hover {
    background-color: #343b3c;
    color: white;
}

.google-cloud-icon {}

.google-cloud-icon a {}

.google-cloud-icon img {
    width: 33px;
    height: 33px;
    max-width: 100% !important;
    max-height: 100% !important;
}


.google-cloud-section {
    display: flex;
    align-items: center;
    padding-top: 7px;
}

.google-cloud-section .google-cloud-icon {}

.google-cloud-section a {}

.google-cloud-section img {
    flex: 1;
}

.google-cloud-section p {
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
}


.contact-top .main-content-block h1 {
    font-style: normal;
    color: #49686F;
}

.contact-top .main-content-block {
    /*    padding: 25px !important;*/

}



.main-content-block.contact-info,
.google-map {
    padding: 25px !important;
    padding-bottom: 15px !important;
}



.contact-top .main-content-block p {}

.contact-top .main-content-block p a {}



/* Responsive columns */
@media screen and (max-width: 768px) {
    .contact-card .main-content-block {
        /*        padding-right: 0px !important;*/

    }
}

#map {
    height: 270px;
    width: auto;
}

#map img {
    max-width: none;
    max-height: none;
}



.section .intro-title.email {

    color: #525252;
}

.main-content-block.form {
    /*    padding-left: 0 !important;*/
    border: 1px solid #f0f0f0;
    border-radius: 5px;

}

.main-content-block form {
    display: flex;
    flex-wrap: wrap;
}

.main-content-block form input {}

.main-content-block label {
    display: block
}

.main-content-block div {
    /*    flex: auto;*/
    /*    margin: 0 10px;*/

}


.main-content-block #subject {}

.main-content-block input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 26px;
}



.input-left {
    flex: 1 0 50%;
    padding-left: 10px;
}

.input-left label {}

.input-left #fname {}

.input-right label {}

.input-right #lname {}

form label {}

.input-right {
    flex: 1 0 50%;
    padding-left: 10px;
    padding-right: 10px;
}

/* Responsive wrapper */
@media screen and (max-width: 600px) {
    .input-left {
        flex: 1 0 100%;
        padding-left: 0;
    }
}

/* Responsive wrapper */
@media screen and (max-width: 600px) {
    .input-right {
        flex: 1 0 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}

form ::-webkit-input-placeholder {
    font-size: 16px;
    color: #a8a8a8;
}

form :-ms-input-placeholder {
    font-size: 16px;
    color: #a8a8a8;
}

form ::placeholder {
    font-size: 16px;
    color: #a8a8a8;
}

form ::-ms-input-placeholder {
    /*    color: red;*/
}

form input[type=text] {
    font-size: 16px;
}

form textarea {
    font-size: 16px;
}


form #fname {
    width: 100%;
}

form #lname {
    width: 100%;
}

form .message {
    padding: 0 10px;
    flex: 1 0 100%;
}


/* Responsive wrapper */
@media screen and (max-width: 600px) {
    form .message {
        flex: 1 0 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}

form #subject {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 26px;
    resize: vertical;
}


form label p {
    margin-bottom: 0px;
    font-weight: 600;
    color: #525252;
}


form .form-button input {
    background-color: #49686F;
    color: white;
    cursor: pointer;
}

form .form-button input:hover {
    background-color: #343b3c;
    color: white;
}

.form-button {
    padding-left: 10px;
}

/* Responsive wrapper */
@media screen and (max-width: 600px) {
    .form-button {
        padding-left: 0px;
    }
}


.columnx.contact-details-email .cardz:hover {
    -webkit-box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
    box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
    -webkit-backface-visibility: hidden;
}



.cardz {
    -webkit-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;

    -webkit-box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
    box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
}

.cardz:hover {
    box-shadow: 3px 3px 18px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    -webkit-box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
    box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.21), 1px 3px 8px rgba(39, 44, 49, 0.03);

}


.section-wrapper .main-content-block {
    padding: 20px;
}


.section-wrapper h1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    /*    color: #b3b1b9;*/
}


/* Responsive wrapper */
@media screen and (max-width: 1024px) {
    .section-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Responsive wrapper */
@media screen and (max-width: 600px) {
    .section-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* Responsive columns */
@media screen and (max-width: 1024px) {
    .columnx {
        flex: 0 1 calc(33.33333333%);
        margin-bottom: 20px;
    }
}


/* Responsive columns */
@media screen and (max-width: 768px) {
    .columnx {
        flex: 0 1 calc(50%);
        margin-bottom: 20px;
    }
}


/* Responsive columns */
@media screen and (max-width: 600px) {
    .columnx {
        flex: 0 1 calc(100%);
        margin-bottom: 20px;

    }
}

hr {
    border-top: 0.21px solid #cccccc;
    width: 200px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 40px;
}



.main-content .title-highlight-spring {
    color: #d4cd48;
}

.main-content .title-highlight-summer {
    color: #aebd6d;
}

.main-content .title-highlight-autumn {
    color: #ceab6a;
}

.main-content .title-highlight-winter {
    color: #49686f;
}

.main-content p::first-letter {
    color: #acacac;
    font-size: 20px;
}

.summary-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    color: #4e4e4e;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/*
#parentx {
    max-width: 1010px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 1024px) {
    #parentx {
        display: grid;
        margin-top: 40px;
        margin-left: 20px !important;
        margin-right: 20px !important;
        grid-template-columns: 1fr !important;
    }
}

@media only screen and (max-width: 600px) {
    #parentx {
        display: grid;
        margin-top: 40px;
        margin-left: 10px !important;
        margin-right: 10px !important;
        grid-template-columns: 1fr !important;
    }
}
*/

.section.sbuttons {
    padding: 0px 0px 100px 0px;
}


.sbuttons .section-wrapper {
    justify-content: center;
}

.flz {
    flex: 1 1 calc(22%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    padding: 0 10px !important;
    margin: 0 10px !important;
    margin-bottom: 20px !important;
    justify-content: center;
    text-decoration: none;
}

.flz:hover {
    background-color: rgb(95, 95, 95);
    color: white;
    transition: background-color 0.6s ease;
    /*    transition: color 0.3s ease;*/
}

.springz {
    /*    padding: 30px;*/
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #08092a;
    background-color: #d4cd48;
    text-align: center;
}

.summerz {
    /*    padding: 30px;*/
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #08092a;
    background-color: #aebd6d;
    text-align: center;
}

.autmnz {
    /*    padding: 30px;*/
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #08092a;
    background-color: #ceab6a;
    text-align: center;
}

.winterz {
    /*    padding: 30px;*/
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #08092a;
    background-color: #add6d9;
    text-align: center;
}

/* Responsive columns */
@media screen and (max-width: 1024px) {
    .flz {
        flex: 1 1 calc(46%);
    }
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .flz {
        flex: 1 1 calc(100%);
    }
}



.section.footer-section {
    padding-top: 60px;
    padding-bottom: 20px;
    color: #fff;
    background-color: #49686f;
}

.section.footer-section p {
    line-height: initial;
}



.margin-adjust.footer {
    margin-left: -10px;
    margin-right: -10px;
}


.column-footer {
    padding: 0 10px;
    display: flex;
    width: 25%;
    margin-bottom: 20px;
    flex-direction: column;
}


.column-footer .footheading {
    font-style: normal;
}

.column-footer h2 {
    font-weight: 600;
    font-size: 22px;
}

.column-footer p {
    color: #e0e0e0;
    /*    line-height: initial;*/
}

.column-footer p a {
    color: #e0e0e0;
    text-decoration: none;
}

.column-footer p a:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: #ffffff;
}


/* Responsive columns */
@media screen and (max-width: 1024px) {
    .column-footer {
        flex: 0 1 calc(25%);
        margin-bottom: 20px;
    }
}


/* Responsive columns */
@media screen and (max-width: 768px) {
    .column-footer {
        flex: 0 1 calc(50%);
        margin-bottom: 20px;

    }
}



/* Responsive columns */
@media screen and (max-width: 600px) {
    .column-footer {
        flex: 0 1 calc(100%);
        margin-bottom: 20px;

    }
}


.section.footer-section2 {
    padding-top: 60px;
    padding-bottom: 20px;
    color: #fff;
    background-color: #49686f;
    text-decoration: none;
}


.section-wrapper.footerbase {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*    justify-content: center;*/
    align-items: center;
    text-decoration: none;
    /*    border-top: 1px solid #bfbfbf3d;*/
    border-top: 1px solid rgba(190, 190, 190, 0.25);
    padding-top: 30px;
    padding-bottom: 5px;
    /*    max-width: 100%;*/
}

.section-wrapper.footerbase a {
    text-decoration: none;
}


.section .git-hub-button {
    font-size: 14px;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.section .git-hub-button:hover {
    background-color: #cbcbcb;
    transition: background-color 0.3s ease;
}



.git-hub-button .red-text {
    color: #ff5800;
}


.fab.fa-github-square {
    font-size: 20px;
    padding-left: 5px;
    color: #ff5800;
}

.copyright-year-date {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 14px;
}


#topy {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 44px;
    height: 42px;
    text-align: center;
    z-index: 1003;
/*    visibility: hidden;*/
}

#topy i {
    position: absolute;
    top: 12px;
    left: 14px;
    color: #fff;
    font-size: 26px;
    line-height: 16px;
}



.work-doodle {
    font-style: italic
}

.normal-text-italic {
    font-style: italic;
}
